/* PasswordChange.css */

.password-change {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    /* background-color: #f0f0f0; */
}

.password-change-card {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password-change-card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.password-change-form {
    width: 100%;
}

.password-change-form-group {
    margin-bottom: 20px;
}

.password-change-label {
    font-size: 1rem;
    margin-bottom: 8px;
}

.password-change-input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-change-submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color:  #003366;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-change-submit-btn:hover {
    background-color: #0056b3;
}

.password-change-error {
    margin-top: 10px;
    color: #dc3545;
    font-size: 0.875rem;
}
