<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Verification</title>
</head>
<body>
    <% if (typeof message !== 'undefined') { %>
        <h2>
            <%= message %>
        </h2>
    <% } %>
</body>
</html>
