<!DOCTYPE html>
    <head>
        <title>EJS Template Example</title>
    </head>
        <body>
            <h1>Reset Password</h1>

            <!-- check for confirm pass, error exist, action of same page or we can redirect -->

            <% if(typeof error !== 'undefined'){
                    %>
                        <h3 style = "color: red;">
                            <%= error %>
                        </h3>
                    <%
                } 
            %>
            <form action ="/reset-password?token=<%= resetData.token %>" method ="POST">
                <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
                <input type = "password" name = "password" required placeholder = "New Password">
                <br><br>
                <input type = "password" name = "c_password" required placeholder = "Confirm Password">
                <br><br>
                <input type = "submit" value = "Reset Password">
            </form>

        </body>
</html>